#tile-out {
  position: absolute;
  top: 150px;
  width: 256px;
  left: 524px;
}

#image-fitter {
  position: absolute;
  top: 150px;
  width: 512px;
  height: 512px;
}

#source-locator {
  position: absolute;
}

.ctrl-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  outline: 1px solid white;
  opacity: 0.6;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  color: white;
  line-height: 30px;
}
.ctrl-btn:hover {
  opacity: 1;
}
.ctrl-btn.move {
  top: 5px;
  right: 5px;
  background: forestgreen;
}
.ctrl-btn.rotate {
  top: 40px;
  right: 5px;
  background: darkred;
}
.ctrl-btn.scale {
  top: 75px;
  right: 5px;
  background: dodgerblue;
}

#preview {
  width: 512px;
  height: 100%;
}

#tile-selector-grid {
  position: absolute;
  width: 100%;
  height: 100%;
}

#tile-selector-grid .cell {
  width: 64px;
  height: 64px;
  outline: 1px solid;
  opacity: 0.5;
  float: left;
}

#tile-selector-grid .cell:hover {
  background: aliceblue;
}

#tile-selector-grid .cell.selected {
  background: yellow;
}
